/bamboo/server/plugins
/bamboo/server/home
/bamboo/client/config
/jenkins/server/home
/jenkins/slave/client-config
/jenkins/slave/secret.txt
/teamcity/server/data
/teamcity/server/logs
/teamcity/server/plastic-config
/teamcity/agent/config
/teamcity/agent/plastic-config

!/jenkins/slave/client-config/remoting.conf
!/jenkins/server/home/.plastic4/remoting.conf
!.gitkeep